<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Create Category</h3>
<p>
    <a th:href="@{/}">
        <button>
            Back to Category list
        </button>
    </a>
</p>
<div id="form">
    <form th:action="@{/create-category}" th:object="${category}" method="post">
        <div>
            <label>Thể loại</label>
            <input type="text" th:field="*{type}">
        </div>

        <button type="submit">Create</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>