<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Do you want to borrow this book ?</h3>
<p>
    <a th:href="@{/}">
        Back to book list
    </a>
</p>
<div>
    <form th:action="@{/borrow}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <div>
                <label>Tên sách: </label>
                <label th:text="${book.name}"></label>
            </div>

            <div>
                <label>Tác giả: </label>
                <label th:text="${book.author}"></label>
            </div>

        </div>

        <button type="submit">Borrow</button>

    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>