<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Library</h3>
<p>
    <a th:href="@{/}">
        Add new book
    </a>
</p>

<form action="/search">
    <label>
        <input type="text" name="name">
    </label>
    <button type="submit">Tìm kiếm</button>
</form>


<table id="product">
    <thead>
    <tr>
        <th>Mã thuê</th>
        <th>Tên Sách</th>
        <th>Return</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="detail,varStat : ${detailList}">
        <td th:text="${detail.borrowCode}"></td>
        <td th:text="${detail.book.name}"></td>
        <td><a th:href="@{/return/{id}(id=${detail.getBorrowCode()})}">Return</a></td>
    </tr>
    </tbody>
</table>
<div>
    <span>
        <a th:if="${detailList.hasPrevious()}" th:href="@{/(page = ${detailList.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,detailList.totalPages - 1)}">
        <a th:href="@{/(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${detailList.hasNext()}" th:href="@{/(page = ${detailList.number +1})}">Next</a>
    </span>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>