<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>
<body>


<div class="container-fluid">
    <div class="row">
         <div th:replace="~{/footer_header/header :: header}"></div>
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <h3>Customer List</h3>
            <p>
                <button type="button"
                        class="btn btn-danger createEmployee" data-bs-toggle="modal" data-bs-target="#create">
                    Create
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#search">
                    Search
                </button>
            </p>
            <p style="color: green" th:if="${msg}" th:text="${msg}"></p>
            <table class="table table-warning table-striped" border="1">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>ID Card</th>
                    <th>Salary</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Education</th>
                    <th>Division</th>
                    <th>Position</th>
                    <th>User name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody id="employeeList">
                <tr th:each="employee, rowStat : ${employeeList}">

                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.birthday}"></td>

                    <td th:text="${employee.cardId}"></td>
                    <td th:text="${employee.salary}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.degree.name}"></td>
                    <td th:text="${employee.division.name}"></td>
                    <td th:text="${employee.position.name}"></td>
                    <td th:text="${employee.user.userName}"></td>
                    <td><a class="btn btn-primary mb-2" role="button"
                           th:href="@{/employee/edit/{id}(id=${employee.getId()})}">Edit</a></td>
                    <td>
                        <button th:href="${employee.getId()}" type="button"
                                class="btn btn-danger deleteEmployee" data-bs-toggle="modal" data-bs-target="#delModal">
                            Delete
                        </button>

                    </td>

                </tr>
                </tbody>


            </table>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/employee/list'(page=0)}" aria-label="First">
                                First
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" th:href="@{'/employee/list'(page=${employeeList.number-1})}" th:if="${employeeList.hasPrevious()}">Previous</a>
                        <li class="page-item"><a class="page-link" th:href="@{'/employee/list'(page=${employeeList.number+1})}" th:if="${employeeList.hasNext()}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/employee/list'(page=${employeeList.totalPages-1})}" aria-label="Last">
                                Last
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>



            <div class="row">
                <div th:replace="~{/footer_header/footer::footer}"></div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="removeEmployee" method="get">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    Bạn muốn xóa <input style="border: none; outline: none; color: #ff0000" id="name" readonly>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="deleteEmp()" data-bs-dismiss="modal">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="search">
    <div class="modal-dialog">
        <form th:action="@{/employee/search}" >
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body footer border- 0">
                    <input type="text" name="name" placeholder="Tên nhân viên" class="form-control">
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-dark">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Create employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addEmployee" method="post">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="deleteEmp()" data-bs-dismiss="modal">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>

<script>
    function getEmployee(employee){
        return `<tr><td>${employee.name}</td><td>${employee.birthday}</td><td>${employee.cardId}</td><td>${employee.salary}</td>
                <td>${employee.phone}</td><td>${employee.email}</td><td>${employee.address}</td><td>${employee.degree.name}</td>
                <td>${employee.division.name}</td><td>${employee.position.name}</td><td>${employee.user.userName}</td>
                       <td><a class="btn btn-primary mb-2" role="button"
                           href="${employee.id}">Edit</a></td>
                    <td>
                        <button href="${employee.id}" type="button"
                                class="btn btn-danger deleteEmployee" data-bs-toggle="modal" data-bs-target="#delModal">
                            Delete
                        </button>

                    </td>
</tr>`
    }

    $(document).ready(function () {
        $("#employeeList").on("click",".deleteEmployee", function (event) {
            debugger
            let a = $(this);
            let employeeId = a.attr("href");

            $.ajax({
                type: "GET",
                url: `/employee-rest/${employeeId}`,
                success: function (data) {
                    document.getElementById("id").value = data.id;
                    document.getElementById("name").value = data.name
                }
            })
            event.preventDefault();
        });
    })

    function deleteEmp() {
        debugger
        let id = $('#id').val();
        $.ajax({
            type: "PUT",
            url: `/employee-rest/remove/${id}`,
            success: function (event) {
                console.log(event)
                debugger
                let content ='';
                for (let i = 0; i <event.length ; i++) {
                    content += getEmployee(event[i]);
                }

                document.getElementById('employeeList').innerHTML = content;
            }
        })
        event.preventDefault();
    }

</script>
</html>